/* img and logo */
header{
    height: 60vh;
	background-image:url("/static/img/banner1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
    background-size: cover;
     -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
       
}

/* links  */
section.links {
    background-color: #212529;
    padding: 20px;
}

li {
    list-style: none;
}

a {
    color: white;
}
/* buttons */
.btn-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: transparent;
}


/* headers & footers */

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #ffffff;
    background-color: rgb(91, 184, 92);
    border-bottom: 1px solid;
}
footer {
    text-align: center;
    padding: 50px;
    color: #FFFFFF;
    background: #5bb85c;;
}

.navbar-link{
    color: #FFFFFF;
}